WordSearchGenerator/.vs/WordSearchGenerator/v14/.suo
WordSearchGenerator/WordSearchGenerator.v11.suo
WordSearchGenerator/WordSearchGenerator.v12.suo
WordSearchGenerator/**/[Bb]in/
WordSearchGenerator/**/[Oo]bj/